name: Check BurpSuite latest version if a new one is out trigger update CI job

on:
  schedule:
    - cron: "0 23 * * *" # Every day at 23h00 UTC run check
jobs:
  Check-BurpSuite-NewVersion:
    runs-on: ubuntu-latest
    environment: CI_PROD
    steps:
      - name: Force install openssh ssh-agent
        run: |
          sudo apt upgrade
          sudo apt install openssh-server -y
      - name: Checkout codebase
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          # TODO: Build automatically inside an ArchLinux Chroot
          # Use ssh-agent for private key
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Git configuration
        run: |
          git config --global init.defaultBranch master
          git config --global user.email "14914796+AkechiShiro@users.noreply.github.com"
          git config --global user.name "Automatic GitHub CI"
      - name: Git clone from AUR
        run: GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=accept-new" git clone ssh://aur@aur.archlinux.org/burpsuite.git
      # INSERT step to setup git config from ENV variable containing secrets????
      # TODO: Find if that's a good solution ^ or to avoid in terms of security
      # Read a lot of documentation and blogs...
      # TODO: Forced to use chroot because we are the root user in the container
      - name: Check if new version is available
        run: |
          # Get latest version from RSS feed
          pkgver_new=$(
            curl -sf "https://portswigger.net/burp/releases/rss" |
            grep -o 'https://portswigger.net/burp/releases/professional-community-[0-9-]\+' |
            sed 's#.*/professional-community-##' |
            sort -V |
            tail -n 1 |
            sed 's/-/./g'
          )

          # If versions differ, exit with success to trigger update job
          ! diff -q aur-burpsuite/latest_version $pkgver_new >/dev/null 2>&1 && exit 0 || exit 1
